dist: xenial

language: php

php: 7.1

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm
    - $HOME/.nvm/.cache

notifications:
  email:
    on_success: never
    on_failure: change

before_install:
  - nvm install

install:
  - yarn
  - composer install

script:
  - yarn build
  - yarn ci
