
.rmb-recipe__meta-list {
	display: flex;
}

.rmb-recipe__meta-list-empty {
	opacity: 0.7;
}

.rmb-recipe__meta-item {
	flex: 1;
}

.rmb-recipe__meta-item-label {
	font-weight: 700;
}

.rmb-recipe-block__ingredients .editor-rich-text ul,
.rmb-recipe-block__directions .editor-rich-text ol {
	padding-left: 1.3em;
	margin-left: 1.3em;
}

.rmb-recipe-block__ingredients-header,
.rmb-recipe-block__directions-header {
	margin-bottom: 0.33em;
}
